.card-left {
  flex: 1;
  padding-right: 2rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.card-right {
  flex: 1;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.profile-image {
  width: 372px;
  height: auto;
  border-radius: 0 0 0 0;
}

.uni-info {
  display: flex;
  align-items: center;
  flex-direction: column;
  margin-bottom: 1.2rem;
}

.uni-logo {
  width: 157px;
  height: auto;
}

.heading-1 {
  margin: 0;
  font-size: 36px;
  font-family: 'Inter', sans-serif;
  font-weight: 600;
  text-align: center;
}

.sub-heading {
  margin: 0;
  font-size: 28px;
  font-family: 'Inter', sans-serif;
  font-weight: 600;
}

.heading-1 h3 {
  margin: 0;
  font-size: 36px;
  font-family: 'Inter', sans-serif;
  font-weight: 600;
  text-align: left;
}

.heading-1 ul {
  margin: 0;
  padding-left: 1.2rem;
  font-size: 24px;
  font-family: 'Playfair Display', serif;
  font-weight: 600;
  text-align: left;
}

.about-section {
  display: flex;
  gap: 4rem;
  align-items: center;
  margin-bottom: 2rem;
}