.card-nav {
  flex: 1;
  text-align: left;
  font-size: 48px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-right: 1.8rem;
}

.card-nav p {
  margin: 0;
  line-height: 1.5;
}

.card-divider {
  width: 1px;
  height: 600px;
  background-color: #252422;
  margin: 0 1rem;
  align-self: center;
}

.card-container {
  display: flex;
  height: 100%;
}

.card-name {
  font-family: 'Pacifico', cursive;
  font-size: 96px;
  margin: 0;
}

.card-buttons {
  display: flex;
  flex-wrap: wrap;
  gap: 0.8rem;
}

.card-link-button {
  background-color: #252422;
  color: #FFFCF2;
  text-decoration: none;
  padding: 0.4rem 0.8rem;
  font-size: 24px;
  border-radius: 4px;
  cursor: pointer;
  display: inline-block;
  font-family: 'Anonymous Pro', serif;
  transition: background-color 0.2s ease;
}

.card-link-button:hover {
  background-color: #444;
}

.card-nav p {
  cursor: pointer;
  color: #252422;
  transition: color 0.2s ease;
}

.card-nav p:hover {
  color: #EB5E28;
  text-decoration: underline;
}
