.card-nav {
  flex: 1;
  text-align: left;
  font-size: 48px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-right: 1.8rem;
}

.card-nav p {
  margin: 0;
  line-height: 1.5;
}

.card-divider {
  width: 1px;
  height: 600px;
  background-color: #252422;
  margin: 0 1rem;
  align-self: center;
}

.card-container {
  display: flex;
  height: 100%;
}

.card-name {
  font-family: 'Pacifico', cursive;
  font-size: 96px;
  margin: 0;
}

.card-nav p {
  cursor: pointer;
  color: #252422;
  transition: color 0.2s ease;
}

.card-nav p:hover {
  color: #EB5E28;
  text-decoration: underline;
}
